requests
fastapi
uvicorn
pydantic
jupyter
jupyter-client
ipython
ipykernel
pandas
numpy
matplotlib
loguru
jsonlines
plotly
langfuse==2.35.0
langchain==0.2.2
langchain-core==0.2.4
langchain-community==0.2.3
langchain-experimental==0.0.60
langchain-openai==0.1.8
python-dotenv==1.0.1
